
.note-container {
    overflow: auto;
    
    .note {
        background-color: darkolivegreen;
        flex: 1;    
        font-size: 2em;
    }

    .scrollable {
        overflow-y: auto;
        overflow-x: hidden;
    }
}


