/** html: /css-video-30-33/css-30-33.html **/

body {
  background: #9c9f84;
  margin: 0;
  font-family: Verdana, Georgia, serif;
  font-size: 14px;
}

h1 {
  font-size: 120%;
  color: black;
}

h2 {
  font-size: 120%;
  color: darkblue;
}

#header {
  background-color: #5c755e;
  margin: 10px;
  border-radius: 5px;
  text-align: center; 
  margin-top: auto;
  margin-bottom: auto;
  padding: 20px;
  font-size: 150%;  
}

/* this apply only to a link inside h3 inside #header */
#header h3 a {
  color: red;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  padding: 20px;  
}

#navbar {
  background-color: #5c755e;
  border-radius: 5px;
  margin: 10px;
  
  border-radius: 5px;
  padding: 5px;
  font-size: 120%;
}

#navbar h2 a {
  color: black;
}

#navbar h1 {
  color: chartreuse;
}

.main {
  background-color: #e5e4d7;
  margin-left: 10px;
  margin-right: 320px;  
  margin-bottom: 10px;  
  margin-top: 10px;  
  border-radius: 5px;
  padding: 5px;
  font-size: 130%;    
}

.sideright {
  background-color: #e5e4d7;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 20px;
  font-size: 105%;
  float: right; 
  width: 260px;
}

div.divclass {
  padding: 10px;
  border: black 2px solid;
  margin: 25px;

  background-color: yellow;
}

img.imgclass {
  padding: 10px;
  border: black 2px solid;
  margin: 25px;

  background-color: yellow;
}

span.spanclass {
  padding: 10px;
  border: black 2px solid;
  margin: 25px;

  background-color: yellow;
}