/** html: /flexbox-example-01/flexbox-example-01.html **/

body {
  background-color: #BBB;
  font-family: Helvetica, sans-serif;
}

.capital-first::first-letter {
  font-weight: bold;
  font-size: 110%;
}

/* Example-01 --------------------------------------------------------------------*/
.form-row {
  padding: 10px 0;

  /* flex needs to define on the parent container so it can handle its childrens */
  display: flex;
}

.form-row label {
  padding-right: 10px;
}

.form-row input {
  flex: 1;  /* grow and fill in the avaiable space in a row*/
}
/*--------------------------------------------------------------------------------*/

/* Example-02 --------------------------------------------------------------------*/
.column-layout {
  max-width: 1300px;
  background-color: #ffffff;  
  line-height: 1.65;
  padding: 20px 50px;
  display: flex;
}

.main-column {  
  /* 
   * flex 1: mean the width of the column should be eaqual to its siblin 
   * flex 3: mean the width of the column should be 3 times then its siblin 
   */
  flex: 3;  /* flex 1 mean the width of the column should be eaqual to its siblin */
  order: 2;  
}

.sidebar-one {
  flex: 1; 
  order: 1 
}

.sidebar-two {
  flex: 1;
  order: 3;  
}
/*--------------------------------------------------------------------------------*/

/* Example-03 --------------------------------------------------------------------*/
.call-outs-container {
  max-width: 1400px;
  

  /* checkout the media query for flex setting
  align-items: stretch;             this is the default
  justify-content: space-between;   sprade the space in between elements
  */
}

@media (min-width: 900px) {
  .call-outs-container {
    display: flex;
    align-items: stretch;           /* this is the default */
    justify-content: space-between; /* sprade the space in between elements */
  }
}

.call-out {
  padding: 20px;
  margin-bottom: 20px;
  
  box-sizing: border-box;
  /* width: 30%; 3 items take 30% leave 10% space */
  flex-basis: 30%;  /* this is the flex way of specify praticular size */
}

.call-out:nth-child(1) { background-color: #c0dbe2; }
.call-out:nth-child(2) { background-color: #cdf1c3; }
.call-out:nth-child(3) { background-color: #ccb9da; }

/*--------------------------------------------------------------------------------*/

/* Example-04 --------------------------------------------------------------------*/
.fixed-size-container {
  max-width: 1400px;
  margin: 40px auto 0 auto;
  background-color: #FFF;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fixed-size {
  width: 150px;
  height: 100px;
  background-color: #990b47;
  color: #FFF;
  line-height: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 20px;
}
/*--------------------------------------------------------------------------------*/

/* Example-05 --------------------------------------------------------------------*/
.center-me {
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  height: 400px;  
  min-width: 700px;
    
  background-color: #2a2a2a;  
  display: flex;  
}

.text-center-me {
  color: #ffff;
  font-size: 50px;
  margin: auto;  
}
/*--------------------------------------------------------------------------------*/

/* Example-06 --------------------------------------------------------------------*/
.equal-height-container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
}

.first {
  background-color: #FFF;
  padding: 20px;
  flex: 1;
}

.second {
  background-color: yellow;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.second-a {
  background-color: #c0dbe2;
  flex: 1;
}

.second-b {
  background-color: #cdf1c3;
  flex: 1;
}
/*--------------------------------------------------------------------------------*/
