
.main {
    background-color: aquamarine;    
    // flex-basis: 90%; 
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .Pane1 {                                                
        background-color: rgb(238, 244, 245);              
    } 
}

.code-note-container {
    // background-color: darkblue;
    // flex-basis: 97%;    
    display: flex;    
    // overflow-y: auto;
    overflow: hidden;

    // One way of adding a script to SplitPane other is using 
    // pane2Style={{overflow: "auto"}} on the <SplitPane component
    //
    // > .SplitPane {
    //     > .Pane { 
    //         overflow: auto;
    //     }
    // }

   

}
