
.select-container {
    .select {
        position: absolute;
        width: 500px;
        margin: 0 5px;
        padding: 5px;        
        font-size: 90%;
    }
}

.searchbar {
    background-color: transparent;    
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    height: 48px;

    .select-placeholder {
        width: 500px;
        margin: 0 5px;
        padding: 5px;        
    }
 
    .toolbar {        
        display: flex;            
        margin: 5px 10px;                
    }
}
