
// headline: Coding A Navbar In 7 Simple Steps With Flexbox
// from: https://www.youtube.com/watch?v=hn7MNdfn10k

.header-container {  
  background-color: cadetblue;
  height: 5%;
  text-align: center;
  display: flex;
}

.header {
  margin: auto;    
}

// .header>h2 {
//   flex-basis: 10%;  
// }

.header>a {
  font-weight: 300;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.3px;
  font-size: 20px;
  text-decoration: none;  
  // color: #888;  
  color: red;  
}

// .header ul {
//   display: flex;
// }

// .header ul li a {
//   padding: 10px;  
//   font-size: 15px;
//   color: red;
// }

// .header ul li:nth-child(1)>a { color: #2ecc71; }
// .header ul li:nth-child(2)>a { color: #e74c3c; }
// .header ul li:nth-child(3)>a { color: #3498db; }
// .header ul li:nth-child(4)>a { color: #f39c12; }

