
// headline: Coding A Navbar In 7 Simple Steps With Flexbox
// from: https://www.youtube.com/watch?v=hn7MNdfn10k

.header-container {  
  background-color: cadetblue;
  height: 51px;  
  display: flex;  
  justify-content: space-around;
  align-items: center;

  .header-title {
    >a {
      font-weight: 300;
      text-rendering: optimizeLegibility;
      letter-spacing: 0.3px;
      font-size: 20px;
      text-decoration: none;  
      //color: #888;  
      // color: red;
    }
  }

  .header-navbar {
    background-color: darkgreen;  
    font-size: 1.2em;
    font-weight: bold;
    flex-basis: 15%;

    padding: 0;
    margin: 0;    
    display: flex;        
    justify-content: space-around;
    align-items: center;
    // margin: auto 0px;
    height: 100%;

    li {
      list-style-type: none;  

      >a {
        background-color: #e7e7e7;
        text-decoration: none;
        border-radius: 5px;
        
        // border: 1px solid;
        padding: 1px 5px;
        border-color: #3498db;
        font: 400 16px helvetica;
        font-size: 1em;
        // margin: 10px;
        box-sizing: border-box;
        color: blue;  

        &:hover {
          color: black;
          background-color: darkgrey;
          border-color: #2ecc71;
        }
      }      
    }   
  }
  
  .header-menu {
    display: flex;  

    li {  
      list-style-type: none;
      &:nth-child(1)>a { color: #2ecc71; }
      &:nth-child(2)>a { color: #e74c3c; }
      &:nth-child(3)>a { color: #3498db; background-color: black}
      &:nth-child(4)>a { color: #f39c12; }      
    }

    li a {  
      padding: 0px 10px;  
      font-size: 1em;  
      text-decoration: none;
    }  
  }
    
}
