.sidebar {
  background-color: #2dd2f2;
  text-align: center;
  // box-sizing: border-box;    
  flex-basis: 20%;  // this is the flex way of specify praticular size   
  // height: 100%;    
  margin-top: auto;
  margin-bottom: auto;
}